.contenedor{
    background-color: aquamarine;
    margin: 0% 2% 0% 2%;
}

.cabecera{
    background-color: red;
}

.barra-lateral{
    background-color: blueviolet;
}

.seccion{
    background-color: chartreuse;
}

.articulo{
    background-color: antiquewhite;
}

.pìe-pag{
    background-color: black;
}